/**
 * Add your design tokens as Tailwind theme variables.
 *
 * https://tailwindcss.com/docs/theme
 */

/**
 * Your theme variables are merged with Tailwind’s defaults, either extending
 * the default theme with new variables or overriding the values of existing
 * variables.
 */
@theme {
	/**
	 * Design tokens previously in theme.json are now defined here directly.
     */
	--color-primary: #085399;
	--color-primary-dark: #063d70;
	--color-secondary: #EC1B24;

	/**
	 * Use Google Sans as our primary font.
	 */
	--font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

:root {
    --container: calc(100% - 2rem);
    --container-content: calc(100% - 2rem);
	--container-wide: calc(100% - 2rem);

    @media (min-width: 40rem) { 
		--container: 38rem;
		--container-content: 38rem;
		--container-wide: 40rem;
	}

    @media (min-width: 48rem) { 
		--container: 46rem;
		--container-content: 48rem;	
		--container-wide: 48rem;
	}
    @media (min-width: 64rem) { 
		--container: 62rem;
		--container-content: 48rem;
		--container-wide: 64rem;
	}
    @media (min-width: 80rem) { 
		--container: 78rem;
		--container-content: 48rem;	
		--container-wide: 80rem;
	}
    @media (min-width: 96rem) { 
		--container: 94rem;
		--container-content: 48rem;
	}
}


